h2 {margin-top: 15px !important;}
h4 {margin-top: 40px !important;}
.label {cursor: pointer;}
.form-control {margin: 5px 0px;}
.btn-primary {margin: 10px 0px !important; padding: 5px 30px !important;}
.btn-secondary {margin: 10px 0px !important; padding: 5px 30px !important;}
.confirmation {color: forestgreen;}
.error {color: red;}
.search-line {display: flex; align-items: center;}
.search-element {margin-top: auto;}
.search-button {margin-top: 27px !important;}
.div-line {padding-top: 15px;}
.sub-title {display: inline; margin-left: 13%;}
.sub-title-short {display: inline; margin-left: 17%;}
.link-button {float: right; display: inline;}