{% extends 'base.html.twig' %}

{% block title %}Csatorna lista{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center div-line">
                <h2 class="sub-title-short">Csatorna lista</h2>
                <a href="/update/menu" class="btn btn-primary link-button">Csatorna lista betöltése</a>
            </div>
        </div>

        <form name="program_form" method="post">
            <div class="mb-8 row search-line">
                <div class="col-md-5">
                    <label for="channelName" class="label">Csatornák</label>
                    <select id="channelName" name="channelName[channelName][]" class="form-control search-element" multiple="multiple">
                        {% for item in channelForm %}
                            <option value={{ item.id }}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="startDate" class="label">Dátum</label>
                    <select id="startDate" name="startDate" class="form-control search-element">
                        {% for item in dateForm %}
                            <option value={{ item.date }}>{{ item.date }}</option>
                        {% endfor %}
                    </select>
                </div>

                {#<div class="col-md-2">
                    <label for="startDate" class="label">Dátum</label>
                    <input type="date" id="startDate" name="startDate" class="form-control search-element">
                </div>#}

                <div class="col-md-3">
                    <button type="submit" id="program_form_submit" name="program_form[submit]" class="btn btn-primary search-element search-button">Szűrés</button>
                </div>

                <div class="col-md-1">
                    <a href="/list/menu" class="btn btn-secondary search-element search-button">Alaphelyzet</a>
                </div>
            </div>
        </form>

        <div class="mb-4 row">
            {% for label, messages in app.flashes(['error', 'success']) %}
                {% for message in messages %}
                    <div class="confirmation-container col-md-12 text-center">
                        {% if label == "success" %}
                            <h4 class="confirmation">{{ message }}</h4>
                        {% else %}
                            <h4 class="error">{{ message }}</h4>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% if data|length > 0 %}
            {% set counter = 1 %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Csatorna</th>
                        <th>Műsor kezdete</th>
                        <th>Műsor címe</th>
                        <th>Leírás</th>
                        <th>Korhatár</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ counter }}</td>
                            <td>{{ item.channel_name }}</td>
                            <td>{{ item.start_time|date('Y-m-d H:i:s') }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.age_limit }}</td>
                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}