{% extends 'base.html.twig' %}

{% block title %}Csatorna lista betöltése{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center div-line">
                <h2 class="sub-title">Csatorna lista betöltése</h2>
                <a href="/list/menu" class="btn btn-primary link-button">Csatorna lista</a>
            </div>
        </div>

        <form name="program_form" method="post">
            <div class="mb-8 row search-line">
                <div class="col-md-5">
                    <label for="channelName" class="label">Csatornák</label>
                    <select id="channelName" name="channelName[channelName][]" class="form-control search-element" multiple="multiple">
                        {% for item in form %}
                            <option value={{ item.id }}>{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="startDate" class="label">Dátum</label>
                    <input type="date" id="startDate" name="startDate" class="form-control search-element">
                </div>

                <div class="col-md-2">
                    <button type="submit" id="program_form_submit" name="program_form[submit]" class="btn btn-primary search-element search-button">Betöltés</button>
                </div>
            </div>
        </form>

        <div class="mb-4 row">
            {% for label, messages in app.flashes(['error', 'success']) %}
                {% for message in messages %}
                    <div class="confirmation-container col-md-12 text-center">
                        {% if label == "success" %}
                            <h4 class="confirmation">{{ message }}</h4>
                        {% else %}
                            <h4 class="error">{{ message }}</h4>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    </div>
{% endblock %}